<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<h3>プレイはPCだけです...</h3>
<ul>
<% @contents.each do |content| %>
<li>
<p><%= content.name %></p>
<p><%= content.score %></p>
<span>
<form action="/game/breakout/delete/<%= content.id %>" method="post">
<input type="submit" value="DELETE">
</form>
</span>
</li>
<% end %>
</ul>
</body>
</html>
